---
---
<!DOCTYPE html>
<html>
<head>
{% if page.title and site.title %}
  <title>{{ page.title }} | {{ site.title }}</title>
{% elsif site.title %}
  <title>{{ site.title }}</title>
{% else %}
  <title>{{ page.title }}</title>
{% endif %}
  {% include common_html_headers %}
  <link href='//fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="page" class="default">
    {% include common_header %}
    {% include common_nav %}
    <div class="content">
      {% if page.cornerpic %}
      <img class="cornerpic" src="{{ site.baseurl }}{{ page.cornerpic }}">
      {% endif %}
      {{ content }}
    </div>
    {% include common_footer %}
  </div>
</body>

</html>
